POSTGRES_DB=memovi
POSTGRES_USER=memovi_app
POSTGRES_PASSWORD=memovi_local_pg_9f4c8e2d7a6b41c3
POSTGRES_PORT=5432

REDIS_PASSWORD=memovi_local_redis_42e7f8a6c9d54b1a
REDIS_PORT=6379

MINIO_ROOT_USER=memovi_minio_admin
MINIO_ROOT_PASSWORD=memovi_local_minio_5c7f1e9a3b6d4a82
MINIO_REGION_NAME=us-east-1
MINIO_SERVER_URL=http://localhost:9000
MINIO_BROWSER_REDIRECT_URL=http://localhost:9001
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
